<div id="chart-designer-<%= comp.id %>" style="height: 100%"></div>
<script src="<%= comp.chart_js_url %>"></script>
<script>
  new seatsio.SeatingChartDesigner({
    divId: 'chart-designer-<%= comp.id %>',
    designerKey: '<%= comp.designer_key %>',
    chartKey: '<%= comp.chart_key %>',
    language: '<%= comp.language %>',
    features: {
      disabled: <%= comp.disabled %>,
      readOnly: <%= comp.readonly %>
    },
    <% if comp.publish_button_id %>
    onChartUpdated: function(chartKey) {
      document.querySelector('#<%= comp.publish_button_id %>').classList.remove('v-hidden');
    }
    <% end %>
  }).render();
</script>