<div id="chart" style="height: 100%"></div>
<script src="https://cdn.seatsio.net/chart.js"></script>
<script>
  new seatsio.SeatingChart({
    divId: 'chart',
    publicKey: '<%= comp.public_key %>',
    event: '<%= comp.event_id  %>',
    pricing: <%= comp.pricing.to_json %>,
    priceFormatter: function(price) {
      return '<%= comp.price_format %>' + price;
    },
    priceLevelsTooltipMessage: "<%= comp.price_level_tooltip %>"
  }).render();
</script>